<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!--Define various log targets-->
	<targets>
		<target xsi:type="File" name="ownFile-web" fileName="C:\PacktLogs\nglog-own-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${excpetion}|urel: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<target xsi:type="Null" name="blackhole"/>
	</targets>

	<rules>
		<!--Skip Microsoft rules and so logs only own logs-->
		<logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true"/>
		<logger name="*" minLevel="Trace" writeTo="ownFile-web"/>
	</rules>
</nlog>